.error {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  &__image {
    width: 100%;
    animation: fadeIn 1s ease-in-out;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: #6c1036;
    text-align: center;
    animation: slideIn 1s ease-in-out;
  }
}

@media (max-width: 768px) {
  .error {
    gap: 1rem;

    &__image {
      width: 85%;
    }

    &__title {
      font-size: 1.75rem;
    }
  }
}

@media (max-width: 480px) {
  .error {
    gap: 0.75rem;

    &__image {
      width: 80%;
    }

    &__title {
      font-size: 1.5rem;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
